<!DOCTYPE html>
<html lang="hu">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <title>Bevásárló lista 2.0</title>
</head>

<body>
    <h2>Bevásárló lista 2.0 <span id="ID_netStatus"></span><button id="ID_saveBtn">Mentés</button></h2>

    <div>
        <label for="ID_productName">Áru:</label>
        <input id="ID_productName" type="text" name="productText">
        <input id="ID_addBtn" type="button" value="+">
    </div>
    <hr>
    <div>
        <h3>Kell:</h3>
        <div id="pending">

        </div>
        <hr>
        <h3>Kosárban:</h3>
        <div id="ready">

        </div>
    </div>
    <hr>
    <div>
        <p>Össz: <span id="ID_sum"></span> Ft</p>
    </div>
    <div>
        <button id="ID_clearBtn">Clear</button>
    </div>

    <dialog id="ID_msgDialog">
        <p></p>
        <form method="dialog">
            <button>OK</button>
        </form>
    </dialog>
    <dialog id="ID_buyDialog">
        <form id="ID_buyForm" method="post">
            <label for="ID_shop">Bolt:</label>
            <input type="text" list="ID_shopList" id="ID_shop" name="shop">
            <datalist id="ID_shopList">
                <option value="Coop">
                <option value="Tesco">
                <option value="Spar">
                <option value="Lidl">
                <option value="Aldi">
            </datalist>

            <label for="ID_buy_Amount">Mennyiség</label>
            <input class="clearable" autocomplete="off" id="ID_buy_Amount" type="text" name="buyAmount">

            <label for="id_buy_Cost">Ár:</label>
            <input class="clearable" autocomplete="off" id="id_buy_Cost" type="text" name="buyCost">

            <input type="submit" value="Kosárba" name="submit">
            <button id="ID_cancelBtn">Mégse</button>

        </form>

    </dialog>
    <script src="{{ url_for('static', filename='index.js')}}"></script>
</body>

</html>