<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="cache-control" content="no-cache" />
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <title>Bevásárló lista 2.0</title>
</head>
<body>
    <h2>Bevásárló lista 2.0 <span id="net_status"></span><button id="save_btn">Mentés</button></h2>
    
    <div>
        <label for="product">Áru:</label>
        <input id="product" type="text" name="product">
        <input id="add_btn" type="button" value="+">
    </div>
    <div>
        <h3>Kell:</h3>
        <div id="pending">

        </div>
        <h3>Kosárban:</h3>
        <div id="ready">

        </div>
    </div>
    <dialog id="dialog">
        <p></p>
        <form method="dialog">
            <button>OK</button>
        </form>
    </dialog>
    <script src="{{ url_for('static', filename='index.js')}}"></script>
</body>
</html>